Assignment 3/sonam-webservices/WebContent/wsdl/TrxnWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.mcda5510.sonam.dpenny.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.mcda5510.sonam.dpenny.com" xmlns:intf="http://service.mcda5510.sonam.dpenny.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.mcda5510.sonam.dpenny.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getTransaction">
    <complexType>
     <sequence>
      <element name="trxnID" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTransactionResponse">
    <complexType>
     <sequence>
      <element name="getTransactionReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="createTransaction">
    <complexType>
     <sequence>
      <element name="ID" type="xsd:int"/>
      <element name="nameOnCard" type="xsd:string"/>
      <element name="cardNumber" type="xsd:string"/>
      <element name="cardType" type="xsd:string"/>
      <element name="unitPrice" type="xsd:double"/>
      <element name="quantity" type="xsd:int"/>
      <element name="totalPrice" type="xsd:double"/>
      <element name="expDate" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="createTransactionResponse">
    <complexType>
     <sequence>
      <element name="createTransactionReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateTransaction">
    <complexType>
     <sequence>
      <element name="ID" type="xsd:int"/>
      <element name="nameOnCard" type="xsd:string"/>
      <element name="cardNumber" type="xsd:string"/>
      <element name="cardType" type="xsd:string"/>
      <element name="unitPrice" type="xsd:int"/>
      <element name="quantity" type="xsd:int"/>
      <element name="totalPrice" type="xsd:int"/>
      <element name="expDate" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateTransactionResponse">
    <complexType>
     <sequence>
      <element name="updateTransactionReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeTransaction">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeTransactionResponse">
    <complexType>
     <sequence>
      <element name="removeTransactionReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAllTransactions">
    <complexType>
     <sequence>
      <element name="Id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAllTransactionsResponse">
    <complexType>
     <sequence>
      <element name="getAllTransactionsReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="removeTransactionResponse">

      <wsdl:part element="impl:removeTransactionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createTransactionRequest">

      <wsdl:part element="impl:createTransaction" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllTransactionsRequest">

      <wsdl:part element="impl:getAllTransactions" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllTransactionsResponse">

      <wsdl:part element="impl:getAllTransactionsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeTransactionRequest">

      <wsdl:part element="impl:removeTransaction" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createTransactionResponse">

      <wsdl:part element="impl:createTransactionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateTransactionRequest">

      <wsdl:part element="impl:updateTransaction" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTransactionResponse">

      <wsdl:part element="impl:getTransactionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTransactionRequest">

      <wsdl:part element="impl:getTransaction" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateTransactionResponse">

      <wsdl:part element="impl:updateTransactionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="TrxnWebService">

      <wsdl:operation name="getTransaction">

         <wsdl:input message="impl:getTransactionRequest" name="getTransactionRequest">

       </wsdl:input>

         <wsdl:output message="impl:getTransactionResponse" name="getTransactionResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createTransaction">

         <wsdl:input message="impl:createTransactionRequest" name="createTransactionRequest">

       </wsdl:input>

         <wsdl:output message="impl:createTransactionResponse" name="createTransactionResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateTransaction">

         <wsdl:input message="impl:updateTransactionRequest" name="updateTransactionRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateTransactionResponse" name="updateTransactionResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeTransaction">

         <wsdl:input message="impl:removeTransactionRequest" name="removeTransactionRequest">

       </wsdl:input>

         <wsdl:output message="impl:removeTransactionResponse" name="removeTransactionResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllTransactions">

         <wsdl:input message="impl:getAllTransactionsRequest" name="getAllTransactionsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllTransactionsResponse" name="getAllTransactionsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TrxnWebServiceSoapBinding" type="impl:TrxnWebService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getTransaction">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTransactionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTransactionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createTransaction">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createTransactionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createTransactionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateTransaction">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateTransactionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateTransactionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeTransaction">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeTransactionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="removeTransactionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllTransactions">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllTransactionsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllTransactionsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TrxnWebServiceService">

      <wsdl:port binding="impl:TrxnWebServiceSoapBinding" name="TrxnWebService">

         <wsdlsoap:address location="http://localhost:9200/sonam-webservices/services/TrxnWebService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
